.form-container {
    -fx-pref-width: 700px;
    -fx-pref-height: 500px;
    -fx-background-color: transparent !important;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
}

.main-container {
    -fx-padding: 50px 17px 0 17px;
    -fx-spacing: 21px;
    -fx-background-color: #FFFFFF;
}

.form-label-input-container {
    -fx-pref-height: 30px;
    -fx-alignment: center-left;
}

.form-label-container {
    -fx-alignment: center-left;
    -fx-pref-width: 150px;
}

.form-label {
    -fx-text-fill: #707070;
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-font-family: 'Tahome', sans-serif;
}

.form-input-container {
    -fx-alignment: center-left;
}

.form-input {
    -fx-pref-height: 30px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #808EA7;
    -fx-border-color: rgba(160, 160, 162, 0.8);
    -fx-border-radius: 5px;
    -fx-background-position: right center;
    -fx-font-size: 12px;
}

.form-code-input {
    -fx-pref-width: 120px;
}

.form-name-input,
.form-second-name-input {
    -fx-pref-width: 500px;
}

.form-nationality-input {
    -fx-pref-width: 270px;
}