.card-container {
    -fx-pref-width: 924px;
    -fx-pref-height: 115px;
    -fx-background-radius: 10px;
    -fx-background-color: #E6E9F1;
    -fx-padding: 0 18px 0 18px;
    -fx-cursor: hand;
    -fx-end-margin: 10px;
}

.align-card-container {
    -fx-alignment: center-left;
}

.id-badge {
    -fx-pref-width: 40px;
    -fx-pref-height: 20px;
    -fx-background-radius: 2px;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 0);
}


.id-label-badge {
    -fx-font-weight: 700;
    -fx-text-fill: #0C62AD;
    -fx-font-size: 12px;
    -fx-font-family: 'Tahome', sans-serif;
}


.author-info-container {
    -fx-alignment: center-left;
    -fx-spacing: 4px;

}

.author-name-label {
    -fx-font-weight: 700;
    -fx-text-fill: #0C62AD;
    -fx-font-size: 18px;
    -fx-font-family: 'Tahome', sans-serif;
}

.author-nationality-label {
    -fx-font-weight: 400;
    -fx-text-fill: #999999;
    -fx-font-size: 14px;
    -fx-font-family: 'Tahome', sans-serif;
}

.registered-books-container {
    -fx-alignment: center;
    -fx-pref-width: 84px;
    -fx-spacing: 1;
}

.register-books-count {
    -fx-font-weight: 400;
    -fx-text-fill: #0C62AD;
    -fx-font-size: 30px;
    -fx-font-family: 'Tahome', sans-serif;
}

.registered-books-label {
    -fx-font-weight: 400;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-text-fill: #5B5B5B;
    -fx-font-size: 14px;
    -fx-font-family: 'Tahome', sans-serif;
}