
.application-container {
    -fx-pref-width: 1366px;
    -fx-pref-height: 768px;
    -fx-background-color: purple;
}

.main-container {
    -fx-pref-width: 1018px;
    -fx-pref-height: 768px;
    -fx-background-color: #FFFFFF;

}

.main-content {
    -fx-padding: 30px 0 30px 0;
}

.header-section {
    -fx-padding: 0 27px 0 27px;
    -fx-pref-height: 83px;
}

.title-header-container {
    -fx-alignment: center-left;
}

.title-header {
    -fx-font-size: 32px;
    -fx-font-weight: 700;
    -fx-font-family: 'Tahome', sans-serif;
    -fx-text-fill: #5B5B5B;
    -fx-alignment: center-left;
}

.logo-header-container {
    -fx-alignment: center-right;
}

.logo-header {
    -fx-fit-to-width: 83px;
    -fx-fit-to-height: 83px;
}

.search-section-container {
    -fx-pref-height: 411px;
    -fx-pref-width: 1018px;
    -fx-alignment: center;
    -fx-spacing: 34px;
}

.search-content-title {
    -fx-pref-width: 495px;
    -fx-pref-height: 72px;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #0C62AD;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-family: 'Tahome', sans-serif;
}

.search-input-container {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 10, 0, 0, 0);
    -fx-pref-height: 65px !important;
}

.search-input {
    -fx-pref-width: 798px !important;
    -fx-pref-height: 65px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #808EA7;
    -fx-background-radius: 10px 0 0 10px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 10px 0 0 10px;
    -fx-background-insets: 0.0 -15.0, 0.0, -15.0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 16;
    -fx-padding: 0 16px 0 0;
}

.search-input-button {
    -fx-background-color: #ffffff;
    -fx-pref-height: 64px;
    -fx-background-radius: 0 10px 10px 0;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.last-loans-section-container{
    -fx-padding: 0 27px 0 27px;
    -fx-spacing: 12px;
}

.last-loans-title {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: #707070;
    -fx-font-family: 'Tahome', sans-serif;
}

.last-loans-card-container {
    -fx-pref-height: 141px;
    -fx-background-color: #ffffff !important;
    -fx-alignment: center;
    -fx-vbar-policy: never;
}

.last-loans-group-card {
    -fx-pref-height: 141px;
    -fx-pref-width: 964px;
    -fx-background-color: #FFFFFF;
    -fx-spacing: 30px;
    -fx-alignment: center-left;
}

.last-loans-group-empty-message {
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-font-family: 'Tahome', sans-serif;
    -fx-text-fill: #A0A0A2;
}

.see-more-button {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-font-family: 'Tahome', sans-serif;
    -fx-text-fill: #A0A0A2;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.see-more-button:hover {
    -fx-underline: true;
}